export FLASK_ENV="development"
export FLASK_RUN_PORT="5000"

export CONFIG_LOCAL="${PWD}/conf/config_local.py"
export CONFIG_SECRETS="${PWD}/conf/secrets.py"

export SQLITE_DB_PATH="${PWD}/db.sqlite"
