{% extends "base.html" %}

{% block extrahead %}
<meta name="poll-id" content="{{ poll.id }}">
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block pagetitle %}Poll {{ poll.title }}{% endblock %}

{% block content %}
<h1>Poll {{ poll.title }}</h1>
<p class="subtitle">{{ poll.description }}</p>
<div id="app">
</div>
<p>Back to <a href="{{ url_for('main.index') }}">polls index</a>.</p>
{% endblock %}

{% block pagejs %}
<script type="module" src="{{ url_for('static', filename='js/poll.js') }}"></script>
{% endblock %}
